<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ppjun.game.dao.mapper.AdminInfoMapper">


    <sql id="Column_list">id,user_name,user_pwd,user_token</sql>
    <sql id="Column_add_list">user_name,user_pwd,user_token</sql>

    <resultMap id="ListTest" type="com.ppjun.game.entity.AdminInfo">
        <id column="id" property="aId"/>
        <result column="user_name" property="userName"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="user_token" property="userToken"/>
    </resultMap>

    <select id="getAdminByName" parameterType="String" resultMap="ListTest">
        SELECT
        <include refid="Column_list"/>
        FROM admin_list WHERE user_name= #{userName}
    </select>

    <select id="getAdminByToken" parameterType="String" resultMap="ListTest">
        SELECT
        <include refid="Column_list"/>
        FROM admin_list WHERE user_token= #{token}
    </select>



</mapper>