<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ppjun.game.dao.mapper.GameInfoMapper">
    <sql id="Column_list">
        game_name,app_id,app_key
    </sql>

    <resultMap id="ListTest" type="com.ppjun.game.entity.GameInfo">
        <id column="id" property="id"/>
        <result column="game_name" property="gameName"/>
        <result column="app_id" property="appId"/>
        <result column="app_key" property="appKey"/>
    </resultMap>


    <select id="getGameById" parameterType="String" resultMap="ListTest">
        SELECT
        <include refid="Column_list"/>
        FROM game_list WHERE app_id= #{appId}
    </select>

    <select id="getGameByName" parameterType="String" resultMap="ListTest">
        SELECT
        <include refid="Column_list"/>
        FROM game_list WHERE game_name= #{gameName}
    </select>

    <select id="getAllGame" resultMap="ListTest">
        SELECT
        <include refid="Column_list"/>
        FROM game_list
    </select>

    <select id="insertGame" parameterType="com.ppjun.game.entity.GameInfo">
        INSERT INTO game_list (<include refid="Column_list"/>)
        VALUES (#{gameName},#{appId},#{appKey})
    </select>
</mapper>