<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ppjun.game.dao.mapper.UserInfoMapper">


    <sql id="Column_list">user_name,user_img,user_token,user_level,user_sex,user_openid,game_id</sql>

    <resultMap id="ListTest" type="com.ppjun.game.entity.UserInfo">
        <id column="id" property="uId"/>
        <result column="user_name" property="userName"/>
        <result column="user_img" property="userImg"/>
        <result column="user_token" property="userToken"/>
        <result column="user_level" property="userLevel"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_openid" property="userOpenId"/>
        <result column="game_id" property="gameId"/>
    </resultMap>


    <select id="getUserByOpenId" parameterType="String" resultMap="ListTest">
        SELECT
        <include refid="Column_list"/>
        FROM user_list WHERE user_openid= #{userOpenId} and game_id= #{gameAppId}
    </select>


    <!--<select id="insertUser" parameterType="com.ppjun.game.entity.UserInfo">-->
        <!--INSERT INTO user_list (<include refid="Column_list"/>)values (#{userName},#{userImg},#{userToken},#{userLevel},#{userSex},#{userOpenId},#{gameId})-->
    <!--</select>-->

    <insert id="insertUser"   parameterType="com.ppjun.game.entity.UserInfo">
        <selectKey resultType="java.lang.Integer" order="AFTER"  keyColumn="id"  >
          SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO user_list (<include refid="Column_list"/>) values (#{userName},#{userImg},#{userToken},#{userLevel},#{userSex},#{userOpenId},#{gameId})
    </insert>

    <select id="getUserByAppId" resultMap="ListTest" parameterType="String" >
       SELECT
        g.*,u.*
        FROM
        game_list g,user_list u
        WHERE
        g.app_id= #{appId}
        AND
        u.game_id = g.id
        AND
        u.user_openid=#{openId}
    </select>
    


    <select id="getUserByToken" resultMap="ListTest" parameterType="String"  >
       SELECT
        g.*,u.*
        FROM
        game_list g,user_list u
        WHERE
        g.app_id= #{appId}
        AND
        u.game_id = g.id
        AND
        u.user_token=#{token}
    </select>

</mapper>